nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    right: 0;
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}